<h4 style="margin-top: 15px">{{ title }}</h4>
<h5>Movie's details</h5>
<form>
    <div class="row">
        <div class="six columns">
            <label for="idInput">ID</label>
            <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
        </div>
        <div class="six columns">
            <label for="copyrightInput">Title</label>
            <input class="u-full-width" type="text" id="title" value="{{ title }}" readonly/>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="editionInput">Country</label>
            <input class="u-full-width" type="text" id="country" value="{{country }}" readonly/>
        </div>
        <div class="six columns">
            <label for="languageInput">Year</label>
            <input class="u-full-width" type="text" id="year" value="{{ year }}" readonly/>
        </div>
    </div>


    <div class="row">
        <div class="six columns">
            <label for="languageInput">Duration</label>
            <input class="u-full-width" type="text" id="duration" value="{{ duration }}" readonly/>
        </div>
    </div>

    <div class="row">
        <div class="six columns">
            <label for=" authorInput">Director</label>
            <a href="https://directors-minisite.netlify.app/get/?id={{ director_id }}">
                <input class="u-full-width" type="button" id=" director" value="{{ director }}" readonly/>
            </a>
        </div>
        <div class="six columns">
            <label for="languageInput">Producer</label>
            <a href="https://producers-minisite.netlify.app/get/?id={{ producer_id }}">
                <input class="u-full-width" type="button" id="producer" value="{{ producer }}" readonly/>
            </a>
        </div>
    </div>
</form>